/*  -------------------------------------------------
  Базовые стили сайта | Base site styles
  ------------------------------------------------- */
* {margin:0; padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}


html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	height: 100%;
    text-align:center;
	color:#555555;
}
.wrapper {
	width: 100%;
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

a
{
text-decoration: none;
color: #4A5C76;
}

a:hover
{
	text-decoration: underline;
}

h1,
.h1  {
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  padding: 0 0 20px 0;
	}

h2,
.h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  padding: 0 0 15px 0;
}

h3 {
	color:#000000;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h4 {
	color:#056dad;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h5 {
	color:#000000;
	font-size:11px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
 h6 {
	color:#000000;
	font-size:11px;
    font-weight: normal;
	padding:0 0 10px 0;
    line-height: 18px;
}

.box {width:100%; height:100%;}
.w {width:100%;}
.c {text-align:center;}
.r {text-align:right;}
.vm {vertical-align:middle;}
.fix {font-size:0; line-height:0;}
.orn_btn 
{
background: #F98017;
border: none;
color: #fff;
padding: 4px 5px;	
cursor: pointer;
font-size: 13px;
display: inline-block;
text-transform: lowercase;
border: 1px solid #F98017;
}
.orn_btn:hover 
{
background: #4A5C76;
border: 1px solid #fff;
}
.orn_btn:hover
{
	text-decoration: none;
}
.f_r
{
	float: right;
}

.f_l
{
	float: left;
}

.clear {
	clear:both;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
	width:100%;
}

.orng {
  color: #ff6604 !important;
}

.conteiner 
{
width: 1000px;
margin: auto;
text-align: left;
}

.blue_btn
{
	background: #4A5C76;
color: #fff;
text-decoration: none;
padding: 4px 10px;
text-transform: lowercase;
}

.blue_btn:hover
{
background: #ff6604;
text-decoration: none;
}

.inl_bl
{
 display: inline-block;
 width: 100%;
}

.hr_v
{

}

.no_border_img img
{
border: none !important;
}

.no_border_img img:hover
{
border: none !important;
}

.blue_light
{
	background: #DCE8F2;
}

/*end Базовые стили */

/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #FFF;
	border-bottom: 3px solid #ff6604;
}

.right_block
{
	width: 400px;
float: right;
}

#logo {
  width: 255px;
  float: left;
  text-align: center;
  margin:  15px 0 0 0;
}

#login {
  width: 410px;
  float: right;
  text-align: right;
  margin:  0px 0 0 0;
  background: #4A5C76;
  padding: 10px;
  display: inline-block;
}

#login a
{
color: #fff;
margin-left: 5px;
}

.login input[type="text"]
{
	height: 20px;
	width: 162px;
	padding-left: 5px;
	margin-right: 5px;
}
.login input[type="submit"]
{
	width: 50px;
}
.login .rem_reg
{
	text-align: right;
	padding-top: 5px;
}



#top_phone {
  float: right;
  margin: 20px 0 0 0;
  text-align: right;
  width: 255px;
}

#top_phone #tp_phone {
  font-size: 30px;
}

#make_phone
{
	margin-top: 15px;
}

#make_phone a
{
	background: url(images/tel.png) 0px 5px no-repeat;
	text-transform: uppercase;
	color: #4A5C76;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
background-size: 15px;
}

#top_menu ul
{
text-transform: uppercase;
overflow: hidden;
zoom: 1;
width: 100%;
}
#top_menu ul li
{
float: left;
padding-right: 15px;
padding-left: 15px;
}

#top_menu ul li a
{
color: #fff;
font-size: 14px;
}

#top_menu
{
width: 100%;
display: inline-block;
text-align: center;
margin-top: 30px;
}


#top_menu div
{
	display: inline-block;
	background: #4A5C76;
	padding: 10px 50px;
}

#top_menu ul li:last-child
{
margin-right: 0px;
border-left: 1px solid #fff;
margin-left: 15px;
background: url(images/prais.png) 30px 0px no-repeat;
background-size: 20px;
padding-left: 55px;
}

/* end Header */

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 240px;
	margin-bottom: 30px;
}

#object{
	background-color: #fe5652;

	visibility: hidden;
}

#main_blocks
{
	text-align: center;
	margin-bottom: 50px;
}
.block
{
	display: inline-block;
width: 230px;
text-align: center;
line-height: 1.1;
vertical-align: top;
}
.block h1
{
	text-transform: uppercase;
	padding: 10px 0;
}
.block img
{
	width: 150px;
	opacity: 1;
}
.block a
{
	color: #555555;
}

.block a:hover
{
	text-decoration: none;
}

#specpred, #dostigen, #netolkoit, #servis 
{
visibility: hidden;
}

#specpred:hover img
{
	-webkit-filter: saturate(500%) hue-rotate(140deg); 

}
#dostigen:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg); 
}
#netolkoit:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg); 
}
#servis:hover img
{
		-webkit-filter: saturate(500%) hue-rotate(140deg); 
}

#nb_main
{
	background: #DCE8F2;
	padding: 10px;
}

.news_main li
{
	display: inline-block;
width: 370px;
margin-bottom: 20px;
padding-right: 10px;
vertical-align: top;
}

.news_main li a img
{
	float: left;
	width: 67px;
	height: 67px;
	margin-right: 10px;
	border: 2px solid #FFF;
padding: 2px;
}
.news_main li a:hover img
{
border: 2px solid #ff6604;	
}
.news_main li a:hover
{
text-decoration: none;
}
.news_main li h3
{
	padding: 0;
	text-transform: uppercase;
}

.news_main li span
{
font-size: 12px;
}

.news_main
{
	display: inline-block;
width: 770px;
border-right: 2px solid #fff;
}

.banners_main img
{
width: 200px;
margin-bottom: 5px;

}
.banners_main 
{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	width: 180px;
}

#kl_pr_prj
{
background: #fff;	
padding: 30px 0 0 0;
}

#kl_pr_prj h1
{
	color: #4A5C76;
	text-transform: uppercase;
}
.kl_pr
{
	display: inline-block;
	width: 600px;
	margin-right: 40px;
	vertical-align: top;
}


.list.styled > ul li {
	}
.list.styled > ul li:before { color:#3498db; }
.list.styled > ul li a { color: #555; }
.list.styled > ul li a:hover, .list.styled > ul li a:focus { }
@media (min-width: 1200px) {
	.home .list.styled.arrow-list { padding-top:27px; }
}
.list.styled.arrow-list > ul { margin-left:0; }
.list.styled.arrow-list > ul li { margin:0px 0 0 0; }
.list.styled.arrow-list > ul li:first-child { margin-top:0; }
.list.styled.arrow-list > ul li:before {
	content: '';
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
vertical-align: top;
position: relative;
padding-left: 15px;
top: 20px;
}
.list.styled.arrow-list > ul li a { position:relative; }
.list.styled.arrow-list > ul li a:before {
	content:'';
	position:absolute;
	top:20px;
	left:-15px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
/*
.list.styled.arrow-list > ul li a span:before {
	content:'';
	position:absolute;
	top:20px;
	left:-30px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:before {
content: '';
position: absolute;
top: 4px;
left: 7px;
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
opacity: 0;
filter: alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:hover:before, .list.styled.arrow-list > ul li a span:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}*/
.list.styled.arrow-list > ul li a:before {
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.list.styled.arrow-list > ul li a span:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}

.list.styled.arrow-list > ul li a:hover:before, .list.styled.arrow-list > ul li a:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.65;
	filter:alpha(opacity=65);
}
.ie8 .list.styled.arrow-list > ul li a:hover:before, .ie8 .list.styled.arrow-list > ul li a:focus:before { left:-20px; }
.list.styled.arrow-list > ul li a:hover:after, .list.styled.arrow-list > ul li a:focus:after {
	-webkit-transform:translate(14px,0);
	-moz-transform:translate(14px,0);
	-ms-transform:translate(14px,0);
	-o-transform:translate(14px,0);
	transform:translate(14px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}
.ie8 .list.styled.arrow-list > ul li a:hover:after, .ie8 .list.styled.arrow-list > ul li a span:focus:after { left:-13px; }

.prj
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
margin-left: 50px;
}

.prj span
{
display: block;
padding-left: 30px;
position: relative;
}

.prj h1
{
	padding: 5px 0;
}

#navstring
{
padding: 20px 0 20px 0;
overflow: hidden;
}

#navstring > ul 
{
padding: 0;
margin: 0 0 0 -12px;
list-style: none;
}

#navstring > ul li {
padding: 0;
margin: 0 10px 0 0;
float: left;
}

#navstring > ul li::before {
content: ">> ";
padding: 0 5px 0 0;
}

#navstring > ul li:first-child::before {
content: "";
padding: 0 20px 0 0;
}

#navstring ul li a
{
	color: #555;
}
.h1_imgblock img
{
	width: 600px;
}
.h1_imgblock h1 
{
color: #fff;
font-weight: bold;
text-transform: uppercase;
background: rgba(74, 92, 118, 0.7);
padding: 10px 0px 10px 10px;
width: 590px;
position: relative;
top: -42px;
}
.content_left
{
width: 600px;
display: inline-block;
margin-right: 5px;
}

/*БЛОГ*/
.img_post
{
display: inline-block;
width: 170px;
}
.img_post img
{
width: 150px;
padding: 2px;
border: 1px solid #4A5C76;
}

.img_post img:hover
{
border: 1px solid #F98017;	
}

.txt_post
{
width: 420px;
display: inline-block;
text-align: left;
vertical-align: top;
}

.txt_post h2
{
color: #4A5C76;
font-weight: bold;
padding: 0 0 5px 0;
}

.date_comments
{
	margin-bottom: 5px;
}
.date_comments .date span:before 
{
	content: '';
	background: url(images/data.png);
	display: inline-block;
width: 15px;
height: 15px;
background-size: 15px;
top: 2px;
position: relative;
background-repeat: no-repeat;
padding-right: 5px;
}

.date_comments .comments span:before 
{
	content: '';
	background: url(images/kom.png);
	display: inline-block;
width: 15px;
height: 15px;
background-size: 15px;
top: 2px;
position: relative;
background-repeat: no-repeat;
padding-right: 5px;
}
.date_comments .date, .date_comments .comments  
{
display: inline-block;	
margin-right: 10px;
}

.txt_post p
{
	text-align: justify;
	margin-bottom: 10px;
	
}
.post .blue_btn
{
	float: right;
} 

.posts .post
{
	margin-bottom: 20px;
}

.navigation-pages
{
	text-align: center;
}

.content_right .r
{
	padding-top: 10px;
}


/*end БЛОГ*/

/*Контакты*/
.contacts {padding-bottom: 35px;}
.contacts table{width:100%;}
.contacts h1 
{
text-align: center;
background: #F98017;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;
font-size: 20px;
}

.contacts h2 
{
font-size: 20px;
margin-bottom: 10px;
margin-top: 10px;
}
.contacts h3 {margin: 0;}

.contacts td {vertical-align: top;}
.city_info {margin-left: 30px;}

#rus_btn
{
color: #555;
background: #fff	;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#uk_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#kz_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
}
#db_btn
{
color: #555;
background: #fff;
cursor: pointer;
padding-top: 10px;
padding-bottom: 11px;
width: 180px;
text-align: center;
} 

#strelka_rus
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}


#strelka_uk
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#strelka_kz
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#strelka_db
{
border: 20px solid transparent;
border-left: 20px solid #F98017;
width: 0;
height: 0;
position: absolute;
top: -29px;
left: 180px;
display:none;
}

#ukraina{display:none;}
#kazahstan{display:none;}
#dybai{display:none;}

#uk_info1 {display:none;}
#kz_info1 {display:none;}
#db_info1 {display:none;}

#uk_info2 {display:none;}
#kz_info2 {display:none;}
#db_info2 {display:none;}

.activ_cont
{
color: #fff !important;	
}
/*end контакты*/

.content_right
{
	background: #DCE8F2;
display: inline-block;
width: 320px;
vertical-align: top;
padding: 20px 30px 0 30px;
}

.content_right h1
{
	text-transform: uppercase;
	color: #4A5C76;
	padding: 0;
}

.arrow-list span
{
	display: block;
padding-left: 30px;
position: relative;
}
.cont_rb
{
	margin-bottom: 50px;
}

.content_left ul
{
	margin-left: 30px;
	color: #4A5C76;
}

.content_left h3
{
	color: #4A5C76;
}

.content_left ul li
{
list-style-type: disc;
}

.about_company img
{
	max-height: 120px !important;
	max-width: 120px !important;
}
.about_company .img_post
{
	width: 150px;
} 

.about_company .txt_post
{
	width: 440px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -240px auto 0;
	min-width: 980px;
	height: 240px;
	background: #4A5C76;
	position: relative;
	color: #fff;
}

#footer_menu ul
{
text-transform: uppercase;
overflow: hidden;
zoom: 1;
width: 100%;
}
#footer_menu ul li
{
float: left;
padding-right: 15px;
padding-left: 15px;
}

#footer_menu ul li a
{
color: #fff;
font-size: 14px;
}

#footer_menu
{
width: 100%;
display: inline-block;
text-align: center;
}


#footer_menu div
{
	display: inline-block;
	padding: 10px 50px;
}

#footer_menu ul li:last-child
{
margin-right: 0px;
}

#footer_content
{
	display: block;
border: 1px solid #fff;
margin: auto;
width: 450px;
padding: 10px 50px;
}

#footer_content h3, #footer_content h2 
{
color: #fff !important;
text-transform: uppercase;
font-weight: normal;
}

.social
{
	margin-bottom: 10px;
}

ul.social li
{
	float: left;
}

ul.social li:last-child a
{
margin-right: 0px;
}

.social img
{
	width: 30px;
	height: 30px;
}
.social a
{
	display: inline-block;
	margin-right: 4px;
}
.r_content
{
width: 220px;
text-align: right;
}

.l_content
{
	border-right: 1px solid #fff;
width: 225px;
font-size: 12px;

}
