/*  -------------------------------------------------
  Базовые стили сайта | Base site styles
  ------------------------------------------------- */
* {margin:0; padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}


html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	height: 100%;
    text-align:center;
	color:#555555;
}
.wrapper {
	width: 100%;
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

a
{
text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1,
.h1  {
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  padding: 0 0 20px 0;
	}

h2,
.h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  padding: 0 0 15px 0;
}

h3 {
	color:#000000;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h4 {
	color:#056dad;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h5 {
	color:#000000;
	font-size:11px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
 h6 {
	color:#000000;
	font-size:11px;
    font-weight: normal;
	padding:0 0 10px 0;
    line-height: 18px;
}

.box {width:100%; height:100%;}
.w {width:100%;}
.c {text-align:center;}
.r {text-align:right;}
.vm {vertical-align:middle;}
.fix {font-size:0; line-height:0;}
.orn_btn 
{
background: #F15A2A;
border: 1px solid #eee;
color: #fff;
height: 23px;
padding: 0 5px;	
cursor: pointer;
}
.f_r
{
	float: right;
}

.f_l
{
	float: left;
}

.clear {
	clear:both;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
	width:100%;
}

.orng {
  color: #ff6604 !important;
}

.conteiner 
{
width: 1000px;
margin: auto;
text-align: left;
}

.blue_btn
{
	background: #4A5C76;
color: #fff;
text-decoration: none;
padding: 2px 10px;
}

.blue_btn:hover
{
background: #ff6604;
text-decoration: none;
}

/*end Базовые стили */

/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #FFF;
	border-bottom: 3px solid #ff6604;
}

.right_block
{
	width: 400px;
float: right;
}

#logo {
  width: 255px;
  float: left;
  text-align: center;
  margin:  15px 0 0 0;
}

#login {
  width: 410px;
  float: right;
  text-align: right;
  margin:  0px 0 0 0;
  background: #4A5C76;
  padding: 10px;
  display: inline-block;
}

#login a
{
color: #fff;
margin-left: 5px;
}

.login input[type="text"]
{
	height: 20px;
	width: 150px;
	padding-left: 5px;
	margin-right: 5px;
}
.login input[type="submit"]
{
	width: 50px;
}
.login .rem_reg
{
	text-align: right;
	padding-top: 5px;
}



#top_phone {
  float: right;
  margin: 20px 0 0 0;
  text-align: right;
  width: 255px;
}

#top_phone #tp_phone {
  font-size: 30px;
}

#make_phone
{
	margin-top: 15px;
}

#make_phone a
{
	background: url(images/tel.png) 0px 5px no-repeat;
	text-transform: uppercase;
	color: #4A5C76;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
background-size: 15px;
}

#top_menu ul
{
text-transform: uppercase;
overflow: hidden;
zoom: 1;
width: 100%;
}
#top_menu ul li
{
float: left;
padding-right: 15px;
padding-left: 15px;
}

#top_menu ul li a
{
color: #fff;
font-size: 14px;
}

#top_menu
{
width: 100%;
display: inline-block;
text-align: center;
margin-top: 30px;
}


#top_menu div
{
	display: inline-block;
	background: #4A5C76;
	padding: 10px 50px;
}

#top_menu ul li:last-child
{
margin-right: 0px;
border-left: 1px solid #fff;
margin-left: 15px;
background: url(images/prais.png) 30px 0px no-repeat;
background-size: 20px;
padding-left: 55px;
}

/* end Header */

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 500px;
}

#object{
	background-color: #fe5652;

	visibility: hidden;
}

#main_blocks
{
	text-align: center;
	margin-bottom: 50px;
}
.block
{
	display: inline-block;
width: 230px;
text-align: center;
line-height: 1.1;
vertical-align: top;
}
.block h1
{
	text-transform: uppercase;
	padding: 10px 0;
}
.block img
{
	width: 150px;
	opacity: 1;
}
.block a
{
	color: #555555;
}

.block a:hover
{
	text-decoration: none;
}

#specpred, #dostigen, #netolkoit, #servis 
{
visibility: hidden;
}

#specpred:hover img
{
	opacity: 1;

}
#dostigen:hover img
{
	opacity: 1;
}
#netolkoit:hover img
{
	opacity: 1;
}
#servis:hover img
{
	opacity: 1;
}

#nb_main
{
	background: #DCE8F2;
	padding: 10px;
}

.news_main li
{
	display: inline-block;
width: 370px;
margin-bottom: 20px;
padding-right: 10px;
vertical-align: top;
}

.news_main li a img
{
	float: left;
	width: 67px;
	height: 67px;
	margin-right: 10px;
	border: 2px solid #FFF;
padding: 2px;
}
.news_main li a:hover img
{
border: 2px solid #ff6604;	
}
.news_main li a:hover
{
text-decoration: none;
}
.news_main li h3
{
	padding: 0;
	text-transform: uppercase;
}

.news_main li span
{
font-size: 12px;
}

.news_main
{
	display: inline-block;
width: 770px;
border-right: 2px solid #fff;
}

.banners_main img
{
width: 200px;
margin-bottom: 5px;

}
.banners_main 
{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	width: 180px;
}

#kl_pr_prj
{
background: #fff;	
padding: 30px 0;
}

#kl_pr_prj h1
{
	color: #4A5C76;
	text-transform: uppercase;
}
.kl_pr
{
	display: inline-block;
	width: 600px;
	margin-right: 40px;
	vertical-align: top;
}


.list.styled > ul li {
	}
.list.styled > ul li:before { color:#3498db; }
.list.styled > ul li a { color: #555; }
.list.styled > ul li a:hover, .list.styled > ul li a:focus { }
@media (min-width: 1200px) {
	.home .list.styled.arrow-list { padding-top:27px; }
}
.list.styled.arrow-list > ul { margin-left:0; }
.list.styled.arrow-list > ul li { margin:0px 0 0 0; }
.list.styled.arrow-list > ul li:first-child { margin-top:0; }
.list.styled.arrow-list > ul li:before {
	content: '';
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
vertical-align: top;
position: relative;
padding-left: 15px;
top: 20px;
}
.list.styled.arrow-list > ul li a { position:relative; }
.list.styled.arrow-list > ul li a:before {
	content:'';
	position:absolute;
	top:20px;
	left:-15px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
/*
.list.styled.arrow-list > ul li a span:before {
	content:'';
	position:absolute;
	top:20px;
	left:-30px;
	width:7px;
	height:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow.png);
	opacity:0;
	filter:alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:before {
content: '';
position: absolute;
top: 4px;
left: 7px;
width: 7px;
height: 11px;
background-position: 0 0;
background-repeat: no-repeat;
background-image: url(images/arrow.png);
opacity: 0;
filter: alpha(opacity=0);
}
.list.styled.arrow-list > ul li a span:hover:before, .list.styled.arrow-list > ul li a span:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}*/
.list.styled.arrow-list > ul li a:before {
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.list.styled.arrow-list > ul li a span:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}

.list.styled.arrow-list > ul li a:hover:before, .list.styled.arrow-list > ul li a:focus:before {
	-webkit-transform:translate(7px,0);
	-moz-transform:translate(7px,0);
	-ms-transform:translate(7px,0);
	-o-transform:translate(7px,0);
	transform:translate(7px,0);
	opacity:0.65;
	filter:alpha(opacity=65);
}
.ie8 .list.styled.arrow-list > ul li a:hover:before, .ie8 .list.styled.arrow-list > ul li a:focus:before { left:-20px; }
.list.styled.arrow-list > ul li a:hover:after, .list.styled.arrow-list > ul li a:focus:after {
	-webkit-transform:translate(14px,0);
	-moz-transform:translate(14px,0);
	-ms-transform:translate(14px,0);
	-o-transform:translate(14px,0);
	transform:translate(14px,0);
	opacity:0.45;
	filter:alpha(opacity=45);
}
.ie8 .list.styled.arrow-list > ul li a:hover:after, .ie8 .list.styled.arrow-list > ul li a span:focus:after { left:-13px; }

.prj
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
margin-left: 50px;
}

.prj span
{
display: block;
padding-left: 30px;
position: relative;
}

.prj h1
{
	padding: 5px 0;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -300px auto 0;
	min-width: 980px;
	height: 300px;
	background: #4A5C76;
	position: relative;
	color: #fff;
}