/*  -------------------------------------------------
  Базовые стили сайта | Base site styles
  ------------------------------------------------- */
* {margin:0; padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}


html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
    text-align:center;
	color:#555555;
}
.wrapper {
	width: 100%;
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

a
{
text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1,
.h1  {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  padding: 0 0 20px 0;
	}

h2,
.h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  padding: 0 0 15px 0;
}

h3 {
	color:#000000;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h4 {
	color:#056dad;
	font-size:12px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
h5 {
	color:#000000;
	font-size:11px;
    font-weight: bold;
	padding:0 0 10px 0;
    line-height: 18px;
}
 h6 {
	color:#000000;
	font-size:11px;
    font-weight: normal;
	padding:0 0 10px 0;
    line-height: 18px;
}

.box {width:100%; height:100%;}
.w {width:100%;}
.c {text-align:center;}
.r {text-align:right;}
.vm {vertical-align:middle;}
.fix {font-size:0; line-height:0;}
.orn_btn 
{
background: #F15A2A;
border: 1px solid #eee;
color: #fff;
height: 23px;
padding: 0 5px;	
cursor: pointer;
}

.clear {
	clear:both;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
	width:100%;
}

.orng {
  color: #ff6604 !important;
}

.conteiner 
{
width: 1000px;
margin: auto;
text-align: left;
}

/*end Базовые стили */

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 300px;
	background: #FFF;
	outline: 1px solid #000;
}

.right_block
{
	width: 400px;
float: right;
}

#logo {
  width: 255px;
  float: left;
  text-align: center;
  margin:  15px 0 0 0;
}

#login {
  width: 410px;
  float: right;
  text-align: right;
  margin:  0px 0 0 0;
  background: #4A5C76;
  padding: 10px;
  display: inline-block;
}

#login a
{
color: #fff;
margin-left: 5px;
}

.login input[type="text"]
{
	height: 20px;
	width: 150px;
	padding-left: 5px;
	margin-right: 5px;
}
.login input[type="submit"]
{
	width: 50px;
}
.login .rem_reg
{
	text-align: right;
	padding-top: 5px;
}



#top_phone {
  float: right;
  margin: 20px 0 0 0;
  text-align: right;
  width: 255px;
}

#top_phone #tp_phone {
  font-size: 30px;
}

#make_phone
{
	margin-top: 15px;
}

#make_phone a
{
	background: url(images/tel.png) 0px 5px no-repeat;
	text-transform: uppercase;
	color: #4A5C76;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
background-size: 15px;
}

#top_menu ul
{
text-transform: uppercase;
overflow: hidden;
zoom: 1;
width: 100%;
}
#top_menu ul li
{
float: left;
margin-right: 30px;
}

#top_menu ul li a
{
color: #fff;
}

#top_menu
{
width: 100%;
height: 30px;
display: inline-block;
text-align: center;
}


#top_menu div
{
	display: inline-block;
	background: #4A5C76;
	padding: 5px 50px;
}

#top_menu ul li:last-child
{
	margin-right: 0px;
}

/* end Header */

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 500px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -500px auto 0;
	min-width: 980px;
	height: 500px;
	background: #BFF08E;
	position: relative;
}